@page
@model ZCEvents.Pages.Rooms

@{
    Layout = null;
}

<!DOCTYPE html>
 
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
      <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <title>Your Page Title</title>
         <style>
             body {
                 background-color: bisque; /* Hex color for vanilla latte background */
             }
         </style>
</head>
<body>
<div class="container d-flex flex-column align-items-center" style="height: 100vh;">
    <div>
        <a href="/Room1">
            <img src="assets/images/room1.jpg" alt="Room 1" style="max-width: 88%; height: auto;">
        </a>
    </div>
    <div>
        <a href="/Room2">
            <img src="assets/images/room2.jpg" alt="Room 2" style="max-width: 88%; height: auto;">
        </a>
    </div>
    <div>
        <a href="/Room3">
            <img src="assets/images/room3.jpg" alt="Room 3" style="max-width: 88%; height: auto;">
        </a>
    </div>
    <div>
        <a href="/MainPlay">
            <img src="assets/images/main play.jpg" alt="Mainplay" style="max-width: 88%; height: auto;">
        </a>
    </div>
</div>



</body>
</html>