@page
@model ZCEvents.Pages.Room3

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
          <meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
             <title>Your Page Title</title>
             <style>
                 body {
                     background-color: bisque; /* Hex color for vanilla latte background */
                 }
             </style>
</head>
<body>
<div>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
                <img src="assets/images/room3about.jpg" alt="" style="max-width: 88%; height: auto;">
                   
                   
            </div>
</div>
</body>
</html>