
@page
@model ZCEvents.Pages.Speakers

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>ZCEvents</title>

    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">
    <link rel="stylesheet" href="~/assets/css/e-commerce.css">
    <link rel="stylesheet" href="~/assets/css/owl-carousel.css">
    <link rel="stylesheet" href="~/assets/css/lightbox.css">
</head>

<body>





<!-- Speaker 1 -->
<div class="row justify-content-center">
    <div class="col-md-6 mb-3">
        <img src="assets/images/Nada%20makram.jpg" alt="" class="img-fluid" style="width: 500px; height: auto;">
    </div>
    <div class="col-md-6">
        <h1>Nada Akram</h1>
        <p class="text-muted">
            If you are a fashion designer, how can you let people know that these are your designs without a logo?!
            This was one of the challenges Nada Akram met, a fashion designer who founded her brand in 2011, and her idea was to add a modern touch to the Egyptian identity and design comfortable clothes with an edge to meet the tastes of every age group!
            Nada Akram started designing T-shirts until she discovered that her designs were easily stolen and posted on the Internet. At that time, she decided that in order to make her designs difficult to imitate, she would design her own fabric. Even the prints on the T-shirts were drawn.
            Nada loves happy prints like gummy bears, cupcakes, popcorn, and her own trade marks, so when people see these prints, they know they belong to Nada Akram, and this helped her make people recognize her designs without the logo.
        </p>
    </div>
</div>

<!-- Speaker 2 -->
<div class="row justify-content-center">
    <div class="col-md-6 mb-3">
        <img src="assets/images/amr%20abdulwahab.jpg" alt="" class="img-fluid" style="width: 500px; height: auto;">
    </div>
    <div class="col-md-6">
        <h1> Amr Abdulwahab</h1>
        <p class="text-muted">
            Who among us isn't enchanted by the stars of the sky and lost in their beauty?!
            Amr Abdel Wahab is exactly like us, but the nature of Upper Egypt and the lack of light pollution helped the stars capture his heart. he also bought a camera so he could start photographing and documenting the beautiful moments he sees with his own eyes. Amr Abdel Wahab is currently the president of the Dr. Mostafa Mahmoud Astronomical Society, which is the oldest astronomical group in this Arab world. However, he organizes trips through his agency. This is in addition to his academy (Astronomy Academy), where he helps children and adults learn about astronomy and space science.
            Amr Abdel Wahab organizes regular workshops in the Western Desert to photograph the stars that are captured in the light from the heart of the darkness of the desert.

        </p>
    </div>
</div>

<!-- Speaker 3 -->
<div class="row justify-content-center mt-4">
    <div class="col-md-6 mb-3 mx-auto d-block">
        <img src="assets/images/yousef%20nasser.jpg" alt="" class="img-fluid" style="width: 500px; height: auto;">
    </div>
    <div class="col-md-6">
        <h1>Yousef Nasser</h1>
        <p class="text-muted">
            This year we will see, the talented Youssef Nasser, who won "Best Young Amateur Photographer 2022".
            He also won photography awards from the American Photographic Society.
        </p>
    </div>
</div>





<!-- ... (remaining code) ... -->

<script src="~/assets/js/jquery-2.1.0.min.js"></script>
<script src="~/assets/js/popper.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/owl-carousel.js"></script>
<script src="~/assets/js/accordions.js"></script>
<script src="~/assets/js/datepicker.js"></script>
<script src="~/assets/js/scrollreveal.min.js"></script>
<script src="~/assets/js/waypoints.min.js"></script>
<script src="~/assets/js/jquery.counterup.min.js"></script>
<script src="~/assets/js/imgfix.min.js"></script>
<script src="~/assets/js/slick.js"></script>
<script src="~/assets/js/lightbox.js"></script>
<script src="~/assets/js/isotope.js"></script>


</body>
</html>
